<% layout('../shared/layouts/main') -%> <% block('title', "Prices page") -%> <%
stylesheet('/assets/css/view-subcategory-page-style.css') -%> <%
stylesheet('/assets/css/prices-style.css') -%>

<% script('/js/modules/product-prices-module.js') -%>

<section class="pb_section about-section pb-0" id="section-about">
  <div class="container">
    <div class="text-center mb-4 my-4">
      <h1>Detaliile produsului</h1>
    </div>
    <div class="row justify-content-center">
      <div class="product-details col">
        <img src="/assets/images/fruits.jpg" alt="" />
      </div>
      <div class="product-details col">
        <input type="hidden" class="product" value="<%= product._id %>">
        <h2><%= product.title %></h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="text-center mb-4 my-4">
      <h1>Magazinele in care gasiti acest produs</h1>
    </div>
    <ul class="list-group my-5">
      <% prices.forEach(function(price) { %>
      <li data-id="<%= price.shopId %>" class="list-group-item d-flex justify-content-between align-items-center">
        <span><%= price.shopName %></span>
        <% if (!!price.lastPrice) { %>
        <span class="font-weight-bold">
          <%= price.lastPrice %>
        </span>
        <% } else { %>
        <!-- Button trigger modal -->
        <a class="suggest-price" data-toggle="modal" href="#exampleModal">
          <span> + sugereaza pretul</span>
        </a>
        <% } %>
      </li>
      <% }); %>
    </ul>
  </div>
</section>
<!-- END section -->

<!-- The Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sugereaza noul pret al produsului</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col">
          <input type="hidden" id="product-id">
          <input type="hidden" id="shop-id">
          <input type="text" id="price" class="d-block mb-3 form-control" placeholder="pretul">
          <input type="text" id="image" class="d-block mb-3 form-control" placeholder="imagine">
          <input type="date" id="expiration-date" class="d-block mb-3 form-control" placeholder="data expirarii pretului">
        </div>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
        <button type="button" class="btn btn-primary save-modal-content">Salveaza</button>
      </div>
    </div>
  </div>
</div>